hl.env("NIXOS_OZONE_WL", "1")
hl.env("XDG_PICTURES_DIR", "{{XDG_PICTURES_DIR}}")
hl.env("XDG_VIDEOS_DIR", "{{XDG_VIDEOS_DIR}}")
hl.env("WALLPAPER_DIR", "{{WALLPAPER_DIR}}")
hl.env("SCRIPT_DIR", "{{SCRIPT_DIR}}")
hl.env("QT_QPA_PLATFORM", "wayland;xcb")
hl.env("XDG_CURRENT_DESKTOP", "Hyprland")
hl.env("XDG_SESSION_DESKTOP", "Hyprland")
hl.env("XDG_SESSION_TYPE", "wayland")
hl.env("WLR_NO_HARDWARE_CURSORS", "1")
hl.env("ELECTRON_OZONE_PLATFORM_HINT", "wayland")


