$active_border1 = rgba({{colors.primary.default.hex_stripped}}ee)
$active_border2 = rgba({{colors.secondary.default.hex_stripped}}ee)
$active_border3 = rgba({{colors.tertiary.default.hex_stripped}}ee)
$inactive_border = rgba({{colors.on_primary_fixed_variant.default.hex_stripped}}aa)

